<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{appname}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/main_style.css">
    <link rel="stylesheet" type="text/css" href="/css/fragment_style.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons_style.css">
    <link rel="stylesheet" type="text/css" href="/css/registration_style.css">
</head>
<body>
    <header th:replace="fragments/topall :: topall"></header>
    <h1 class="header_container" th:text="#{header_registration_complete}"></h1>


    <p th:if="${error_message}" class="error-message" th:text="${error_message}"></p>
    <p th:if="${warrning_message}"  class="warrning-message" th:text="${warrning_message}"></p>
    <p th:if="${accept_message}" class="accept-message" th:text="${accept_message}"></p>

    <div>
        <form th:action="@{/registration/sendagain}" method="POST">
            <input type="hidden" name="userid" th:value="${userid}">
            <button class="square-btn" type="submit" th:text="#{btn_send_again}"></button>
        </form>
    </div>
   
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
