<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <footer th:fragment="footer">
    <div class="footer_top">
      MyWeddi – MyWeddi app
      Copyright 2021
    </div>
    <div class="footer_down">
      <div class="col-25" style="text-align: center;">
        <a href="www.google.pl">Kontakt</a>
      </div>
      <div class="col-25" style="text-align: center;">
        <a href="www.google.pl">Polityka prywatności</a>
      </div>
      <div class="col-25" style="text-align: center;">
        <a href="www.google.pl">Cookies</a>
      </div>
      <div class="col-25" style="text-align: center;">
        <a href="www.google.pl">MyWeddi - mobile</a>
      </div>
    </div>
  </footer>
</body>
</html>
