.header-top{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.header-top a{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: gray;
    text-decoration:none;
}


.footer{
    position: absolute;
    top: 90vh;
}

.footer_top{
    text-align:center;
    color:#96948c;
    margin-bottom:2px;
    margin-top:5%;
}

.footer_down{
    display:flex;
    justify-content: space-evenly;
    text-decoration: none;
    border-style: none;
    margin-top:1%;
}
