html{
    font-size: 18px;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover{
    font-weight: bold;
}

input[type=text], input[type=password], input[type=number], input[type=email]{
    width: 90%;
    padding: 7px;
    font-size: 1.3rem;
    border-radius: 5px;;
}

label{
    font-size: 1.3rem;
    margin-left: 20px;
    font-weight: bold;
}

select{
    padding: 3px;
    border-radius: 10px;
    width: 50%;
    font-size: 1rem;
    margin-top: 2px;
    margin-bottom: 3px;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.col-25{
    width: 25%;
}

.col-30{
    width: 30%;
}

.col-50{
    width: 50%;
}

.col-70{
    width: 70%;
}

.error-message{
    color: #d11414;
    text-align: center;
    font-weight: bold;
}

.accept-message{
    color: #00b64e;
    text-align: center;
    font-weight: bold;
}

.warrning-message{
    color: #f5ff6b;
    text-align: center;
    font-weight: bold;
}
