body {
    display: flex;
    flex-direction: column;
}

.header_container{
    background-color: #ebbec8;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.registration-inner-form{
    width: 50vw;
}

input[type=radio]{
    height: 1.3rem;
    width: 1.3rem;
}

.reg-section{
    background-color: #e6d1d6;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

